* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav bar Css */
.navbar {
    background-color: rgb(2, 36, 36);
    height: 120px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filter_conatiner {
    display: flex;
    height: 80px;
    width: 40%;
    background-color: rgb(92, 128, 82);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 5px 3px rgb(252, 61, 252);
}



.to_do {
    background-color: rgb(88, 224, 88);
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.filter_conatiner>div:hover {
    background-color: azure;
    cursor: pointer;
}

.in_progress {
    background-color: rgb(29, 170, 216);
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.testing {
    background-color: rgb(241, 245, 122);
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.done {
    background-color: rgb(43, 41, 41);
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.create_new_task_btn {
    height: 40px;
    width: 100px;
    background-color: rgb(7, 107, 238);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.app_name {
    height: 80px;
    width: 400px;
    background-color: rgb(157, 244, 17);
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 2px 2px 5px rgb(247, 247, 250);
    text-align: center;
    color: rgb(27, 27, 27);
    border: 2px solid black;
    box-shadow: inset 0px 0px 5px 3px rgb(252, 232, 4);
}

/* Ticket creation CSS */

.create_new_ticket {
    display: none;
    height: 50vh;
    width: 45vw;
    position: absolute;
    top: 30%;
    left: 30%;
    border: 2px solid black;
}

.ticket_textarea {
    resize: none;
    border: none;
    outline: none;
    height: 100%;
    width: 75%;
    background-color: rgb(136, 140, 144);
    color: black;
    font-size: 25px;
}

.new_ticket_conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 25%;
    background-color: aquamarine;
    z-index: 5;
    position: relative;
    
}

.cancel {
    color: white;
    background-color: red;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.cancel:hover{
    cursor: pointer;
    /* transform: scale(1.1); */
    box-shadow: -2px 2px 2px black;
}

.new_ticket {
    height: 40px;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.new_ticket:hover {
    background-color: azure;
    cursor: pointer;
}
.create {
    height: 40px;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(7, 107, 238);
    transition: all 0.3s ease;
}
.create:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 3px black;
}

/* created tickets */
.main_created_ticket_container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.created_ticket{
    height: 300px;
    width: 400px;
    background-color: rgb(152, 107, 44);
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
.created_ticket_status{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(88, 224, 88);
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    border-bottom: 2px dotted black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.created_ticket_id{
    background-color: rgb(224, 133, 88);
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.created_ticket_edit{
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 70px;
    cursor: pointer;
}
.created_ticket_delete{
    background-color: rgb(253, 7, 7);
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
}