* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

/* Nav bar Css */
.navbar {
    background-color: rgb(2, 36, 36);
    height: 120px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 200px;
}

.filter_conatiner {
    display: flex;
    height: 80px;
    width: 40%;
    background-color: rgb(92, 128, 82);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 5px 3px rgb(252, 61, 252);
    margin-left: 20px;
}

.filter_conatiner>div:hover {
    background-color: azure;
    cursor: pointer;
}
.apply_filter {
    background-color: rgb(244, 245, 244);
    width: 150px;
    height: 55px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid rgb(129, 4, 247);
    text-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 3px rgb(252, 3, 240);
}
.filternav {
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
 }

.to_do {
    background-color: rgb(88, 224, 88);
}

.in_progress {
    background-color: rgb(29, 170, 216);
}

.testing {
    background-color: rgb(241, 245, 122);
}

.done {
    background-color: rgb(43, 41, 41);
}
.new_ticket{
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.create_new_task_btn {
    height: 40px;
    width: 150px;
    background-color: rgb(7, 107, 238);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman';
    color: white;
    box-shadow: 2px 2px 3px rgb(251, 249, 249);
}
.create_new_task_btn:active {
    box-shadow: 1px 1px 2px rgb(251, 249, 249);
    transform: translateY(3px);
}

.app_name {
    height: 80px;
    width: 300px;
    background-color: rgb(157, 244, 17);
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 2px 2px 5px rgb(247, 247, 250);
    text-align: center;
    color: rgb(27, 27, 27);
    border: 2px solid black;
    box-shadow: inset 0px 0px 5px 3px rgb(255, 1, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Ticket creation CSS */

.create_new_ticket {
    display: none;
    height: 50vh;
    width: 45vw;
    position: absolute;
    top: 30%;
    left: 30%;
    border: 2px solid black;
}

.ticket_textarea {
    resize: none;
    border: none;
    outline: none;
    height: 100%;
    width: 75%;
    background-color: rgb(136, 140, 144);
    color: black;
    font-size: 25px;
}

.ticket_status_conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 25%;
    background-color: aquamarine;
    z-index: 7;
}
.ticket_button_container{
    height: 100%;
    width: 25%;
    background-color: aquamarine;
    align-items: center;
    position: absolute;
    right: 0;
}

.cancel {
    color: white;
    background-color: red;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    box-shadow: -2px 2px 2px black;
    cursor: pointer;
    border-radius: 2px;
    z-index: 7;
}
.cancel:active {
    transform: translateY(1px);
    box-shadow: -1px 1px 2px black;
}

.new_ticket:hover {
    background-color: azure;
    cursor: pointer;
}
.active_ticket_status{
    background-color: azure;
    border: 2px solid black;
}
.create {
    height: 40px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(7, 107, 238);
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 7;
}
.create:active{
    transform: translateY(3px);
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

/* created tickets */
.main_created_ticket_container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.created_ticket{
    height: 300px;
    width: 400px;
    background-color: rgb(152, 107, 44);
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
.status{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background-color: rgb(88, 224, 88); */
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    border-bottom: 2px dotted black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.id{
    background-color: rgb(224, 133, 88);
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textarea {
    color: black;
    font-size: 25px;
    display: -webkit-box;
    -webkit-line-clamp:6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.edit{
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 70px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}

.edit:active{
    transform: translateY(2px);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.update{
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 70px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}
.update:active{
    transform: translateY(2px);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.delete{
    background-color: rgb(253, 7, 7);
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}
.delete:active{
    transform: translateY(2px);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.cancel_edit{
    background-color: rgb(253, 7, 7);
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}
.cancel_edit:active{
    transform: translateY(2px);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}